.offices-tab {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 34px;
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 0.8px;

    @media (max-width: 1199px) {
      line-height: 30px;
    }
  }

  span {
    font-size: 11px;
    line-height: 20px;
  }
}