.offices-tabs {
  height: 184px;
  overflow: hidden;

  &__switcher {
    display: flex;
    margin-bottom: 50px;

    div {
      font-family: $bold-font;
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;
      letter-spacing: 0.55px;
      transition: 0.2s;

      &:hover {
        color: darken($green, 10%);
      }

      &.active {
        color: $green;
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    @media (max-width: 1199px) {
      justify-content: center;
    }
  }
}